<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCS73D3ZTHlUMiXupRy9Jcvk1mN3oTr41w</string>
	<key>GCM_SENDER_ID</key>
	<string>580702770561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.car.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zerotwo-581fe</string>
	<key>STORAGE_BUCKET</key>
	<string>zerotwo-581fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580702770561:ios:6e918b4b1581cb3c3fc480</string>
</dict>
</plist>